<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: lets adb start a simulated trip for testing the car screen. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DebugDriveReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.thealgothrim.overworld.DEBUG_DRIVE" />
                <action android:name="com.thealgothrim.overworld.DEBUG_STOP" />
                <action android:name="com.thealgothrim.overworld.DEBUG_STATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
